:root {
    --primary-red: #ed1d24;
    --dark-grey: #333;
    --white: #fff;
    --light-grey: #f1f1f1;
    --dark-red: #660000;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-red);
    color: var(--white);
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 5rem;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
}

nav ul li.home-link {
    margin-left: 10px;
}

.logo {
    display: block;
    text-align: center;
}

.logo img {
    height: auto;
    padding-top: 10px;
}

iframe {
    margin: 0 10px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.intro-text {
    color: var(--dark-grey);
    padding: 0 80px 0 40px;
}

.initiatives-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px;
}

.initiative {
    background-color: var(--dark-grey);
    padding: 1rem;
    color: var(--white);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 var(--white);
}

.initiative:hover {
    transform: scale(1.15);
    box-shadow: 0 0 20px var(--primary-red);
}

.initiative h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-red);
}

.initiative p {
    margin: 0;
    margin-bottom: 1rem;
}

.initiative img {
    max-width: 100%;
    height: auto;
}

.initiative a {
    color: var(--primary-red);
    text-decoration: none;
    border: var(--primary-red) 1px solid;
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out;
}

.initiative a:hover {
    background-color: var(--primary-red);
    color: white;
}

.sdg-icons {
    margin-bottom: 20px;
}

.sdg-icons img {
    width: 100px;
    height: auto;
    margin: 0 5px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-form {
    flex: 1;
    padding: 20px;
    background-color: var(--light-grey);
}

.contact-image {
    flex: 1;
    margin-left: 20px;
}

.contact-image img {
    max-width: 100%;
    height: auto;
}

.contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-red);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: var(--primary-red);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--dark-red);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: #fff;
}

@media only screen and (max-width: 767px) {
    nav ul {
        overflow-x: auto;
        white-space: nowrap;
        padding: 5px 0;
    }

    nav ul li {
        margin: 0 10px;
    }

    nav ul li.home-link {
        margin-left: 10px;
    }

    .video-container {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        margin: 10px 0;
        max-width: 100%;
    }

    .sdg-icons {
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
    }

    .sdg-icons img {
        margin: 5px;
    }

    .initiatives-grid {
        grid-template-columns: 1fr;
    }

    .contact-section {
        flex-direction: column;
    }
}