:root {
  /* Sunway Group's primary colors */
  --primary-red: #ed1d24;
  --dark-grey: #333;
  --white: #fff;
  --light-grey: #cecece;
  --dark-red: #660000;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-red);
  color: var(--white);
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 5rem;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

nav {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
}

nav ul li.home-link {
  margin-left: 10px;
}

.logo {
  display: block;
  text-align: center;
}

.logo img {
  height: auto;
  padding-top: 10px;
}

.intro-text {
  padding: 20px;
  color: var(--dark-grey);
}

.initiatives-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.initiative {
  background-color: var(--white);
  padding: 1rem;
}

.initiative h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--primary-red);
}

.initiative p {
  margin: 0;
}

.initiative img {
  max-width: 100%;
  height: auto;
}

.sdg-icons {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  margin-bottom: 20px;
}

.sdg-icons img {
  width: 150px;
  /* Adjust the width of the SDG icons as needed */
  height: auto;
  margin: 0 5px;
  /* Adjust the spacing between the icons */
}

.sdg-goals-info {
  padding: 20px;
}

.sdg-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.sdg-info {
  background-color: var(--light-grey);
  padding: 20px;
  border-radius: 5px;
}

.sdg-info strong {
  display: block;
  font-size: 1.2rem;
  color: var(--primary-red);
  margin-bottom: 10px;
}

.sdg-info p {
  margin: 0;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--light-grey);
}

.contact-form h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--primary-red);
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: var(--primary-red);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--dark-red);
}

footer {
  background-color: var(--dark-grey);
  color: var(--white);
  text-align: center;
  padding: 1rem 0;
}




.initiative-content {
  padding-left: 80px;
  padding-right: 40px;
}

/* Styles for the first initiative's page */

.how-to-participate {
  padding: 20px;
}

.how-to-participate h2 {
  font-size: 1.5rem;
  color: var(--primary-red);
  margin-bottom: 1rem;
}

.how-to-participate ul {
  list-style-type: disc;
  padding-left: 20px;
}

.how-to-participate li {
  margin-bottom: 10px;
}